:root {
  /* Kleuren */
  --primary-color: hsl(166, 70%, 28%);
  --primary-color-hover: hsl(166, 89%, 24%);
  --color-text-primary: hsl(0, 2%, 3%);
  --color-border: hsl(208, 6%, 57%);
  --color-background-color: hsl(208, 0%, 73%);
  --color-danger: hsl(0, 47%, 38%);

  /* Typografie */
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;

  /* --- Spacing Styleguide --- */
  --space-xs: 0.5rem; /* 8px */
  --space-s: 1rem; /* 16px */
  --space-m: 1.5rem; /* 24px */
  --space-xm: 1.875rem; /* 30px */
  --space-l: 2.5rem; /* 40px */
  --space-xl: 4rem; /* 64px */
}

/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;


}
body {
  font-family: var(--font-body);
  color: var(--color-text-primary);
  background-color: var(--color-background-white);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 0 var(--space-m);
  padding-bottom: var(--space-l);
  flex: 1;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  --font-body: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  margin-bottom: var(--space-s);
}

/* TYPOGRAFIE */
h1,
h2,
h3,
h4,
.logo,
legend {
  font-family: var(--font-heading);
  color: var(--color-text-primary);
}

p,
label,
button {
  font-family: var(--font-body);
}
h1 {
  font-size: 1.5rem; /* 24px */
  margin-bottom: var(--space-xs);
}

h2,
h3,
legend {
  font-size: 1, 125; /* 18px */
  font-weight: 700;
  margin-bottom: var(--space-s);
}

p {
  color: var(--color-text-primary);
  font-size: 0, 875rem; /* 14px */
  font-family: var(--font-body);
}

.column.text {
  display: flex;
  flex-direction: column;
}

/* card */

.container {
  border: 1px solid var(--color-border);
  display: block;

  border-radius: 12px;
  margin-bottom: var(--space-l);
  @media (min-width: 570px) {
    min-width: 500px !important;

    justify-content: center;
  }
}

/* einde card */

/* Inputs */

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1.375rem;
  height: 1.375rem;
background-color: white;
  border-radius: 50%;
  transition: left 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
  background-color: grey;
}

input[type="checkbox"]:checked::after {
  left: 25px;
}

/* De form */

h2,
.summary-text {
  text-decoration: underline;
  text-transform: uppercase;
  padding-left: var(--space-xm);
}
label {
  font-weight: 100;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 3.125rem; /* 50px */
  height: 1.75rem; /* 28px */
  background-color: #399859;
  border-radius: 3.125rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  rotate: 180deg;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1.375rem;
  height: 1.375rem;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
  background-color: grey;
}

input[type="checkbox"]:checked::after {
  left: 25px;
}

/* .locked-toggle {
  width: 3.125rem;       
  height: 1.75rem;
  background-color: grey; 
  border-radius: 3.125rem;
  
  position: relative;
  display: inline-block;
  cursor: not-allowed;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  vertical-align: middle;
}

/* Het rondje*/
.locked-toggle {
  width: 3.125rem;
  height: 1.75rem;
  background-color: #9c9c9c;
  border-radius: 3.125rem;

  position: relative;
  display: inline-block;
  cursor: not-allowed;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}

/* Het rondje met het slotje */
.toggle-knob {
  width: 1.375rem; /* 22px */
  height: 1.375rem; /* 22px */
  background-color: #b7b7b7;
  border-radius: 50%;

  position: absolute;
  top: 3px;
  left: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Het slot icoontje */
.lock-icon {
  width: 0.8rem;
  height: 0.8rem;
  fill: #4b4b4b;
}

/* De tekst oN */
.toggle-text {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);

  font-weight: bold;
  font-size: 11px;
  color: var(--color-text-primary);
  pointer-events: none;
  display: block;
}

form {
  @media (min-width: 570px) {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
}

/* Button */

button {
  all: unset;
  border: 3px solid black;
  padding: 8px 50px;
  margin: 0 auto;
  border-radius: 20px;
}
