nav button {
  all: unset;
  cursor: pointer;
}
.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-bottom: 2px solid var(--color-border);
  max-width: 570px;
  @media (min-width: 570px) {
    max-width: 800px;
  }
}

/* submit button */
.save {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  transition: 0.2s cubic-bezier(0.38, -0.18, 0.08, 1.33);

  &:hover {
    background-color: #cbcbcb;
    transform: scale(1.05, 1.1);
  }
}

.hidden {
  display: none;
}

.saved {
  padding: 8px 45px;
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop {
  animation: pop 0.4s cubic-bezier(0.38, -0.18, 0.08, 1.33);
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-right: var(--space-s);
}

summary::marker,
summary::-webkit-details-marker {
  color: orangered;
  font-size: 2rem;
  display: none;
}

summary::after {
  content: "+";
  color: black;
  font-size: 3rem;
  transition: transform 200ms ease;
}

details[open] summary::after {
  transform: rotate(45deg);
  text-decoration: none;
}

.page-intro {
  padding-left: var(--space-xm);
}

.hostbtn,
.guestbtn {
  width: 15em;
  padding-bottom: 0.5em;

  @media (min-width: 570px) {
    width: 30em;
  }
}
.notification-type {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
  padding: 20px var(--space-xm);
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 30px;
}

.options label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

/* form {
  @media (min-width: 570px) {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
 } */
