nav button{
  all: unset;
  cursor: pointer;
}
.active{
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 4px;
  animation: pop 0.4s ease;

 }

 @keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0 auto; */
  text-align: center;
  border-bottom: 2px solid var(--color-border);
  max-width: 570px;
  @media (min-width: 570px){
    margin: 0 auto;
    max-width: 800px;
  }
}

/* submit button */
.save{
  display:flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;

  &:hover{
    background-color: #CBCBCB;
  }
}


.hidden{
  display: none;
}  

.saved{
  padding: 8px 45px;
  animation: pop 0.4s ease;

 }

 @keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


.pop{
  animation: pop 0.4s ease;

 }

 @keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
}
