nav button{
  all: unset;
}
nav button:first-of-type {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 4px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0 auto; */
  text-align: center;
  border-bottom: 2px solid var(--color-border);
  max-width: 570px;
  @media (min-width: 570px){
    margin: 0 auto;
    max-width: 800px;
  }
}


