header {
  display: flex;
  flex-direction: row;
  /* padding-bottom: var(--space-l); */
  gap: 3em;
  position: relative;
  justify-content: space-between;
  border-bottom: 0.7px solid var(--color-border);
}

.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  @media (min-width: 887px) {
    display: none;
  }
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);
  padding-right: var(--space-l);
  @media (max-width: 887px) {
    display: none;
  }
}
.logo {
  padding: 10px;
  padding-left: var(--space-m);
  min-width: 450px;

  @media (max-width: 456px) {
    display: none;
  }
}

.logo2 {
  padding: 10px 0px;
  justify-content: center;
  align-items: center;

  @media (min-width: 456px) {
    display: none;
  }
}

.logo img {
  @media (max-width: 424px) {
    display: none;
  }
}
/* NAV (host/guest switch) */
nav {
  display: flex;
  align-items: flex-end;
  height: 60px;
  padding: 0 var(--space-m);
  background: var(--primary-color);
}

nav button{
  all: unset;
  cursor: pointer;
  padding: 10px var(--space-m);
  font-size: 18px;
  color: white;
}

.active{
  background: white;
  color: var(--green);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  top: 1px;
}

.info{
  padding: 0px var(--space-m);
}
/* melding */
.save-message {
  display: flex;
  background: #8a5a00;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  align-items: center;
  padding: 10px;
}

.save-message p {
 padding: 0px 13px;
  color: #fff;
}

/* PAGE INTRO */
.page-intro {
  padding-top: var(--space-l);
  padding-left: var(--space-m);
  padding-bottom: var(--space-xm);
  background-color: var(--secondary-background-color);
}

/* DETAILS / SUMMARY */
summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-right: var(--space-s);
}

summary::after {
  content: "+";
  color: black;
  font-size: 3rem;
  transition: transform 200ms ease;
}

details[open] summary::after {
  transform: rotate(45deg);
  text-decoration: none;
}

/* FORM ELEMENTS */


fieldset {
  border: 1px solid;
  padding: 20px 20px 0;
  border-radius: 20px;
  border-color: var(--color-border);
  margin-bottom: 1.5rem;
  background-color: var(--secondary-background-color);
}

legend {
  display: contents;
}

fieldset > p {
  margin: 0 0 20px;
}
.options {
  margin: 0 -20px;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  border-top: 1px solid var(--color-border);
  display: grid;
  gap: 10px;
  background-color: #fff;
}

.options label {
  display: flex;
  justify-content: space-between;
}


/* SAVE BUTTONS */
.save {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 20px;
  
  transition: 0.2s cubic-bezier(0.38, -0.18, 0.08, 1.33);
  &:hover {
    background-color: #cbcbcb;
    transform: scale(1.05, 1.1);
  }
}



.saved {
  padding: 8px 45px;
  animation: pop 0.4s ease;
}

.hidden {
  display: none;
}

.pop {
  animation: pop 0.4s cubic-bezier(0.38, -0.18, 0.08, 1.33);
}

/* ANIMATIONS */
@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* footer */
Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 80px;
  padding-top: 20px;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  background-color: #262626;
}

footer li {
  all: unset;
  text-decoration: underline;
  color: white;
  padding: 0 15px;
  margin-bottom: 16px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
