nav button{
  all: unset;
  cursor: pointer;
}
.active{
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 4px;
  animation: pop 0.4s ease;

 }

 @keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-bottom: 2px solid var(--color-border);
  max-width: 570px;
  padding-left: var(--space-m);
  @media (min-width: 570px){
    max-width: 800px;
  }
}

/* submit button */
.save{
  display:flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;

  &:hover{
    background-color: #CBCBCB;
  }
}


.hidden{
  display: none;
}  

.saved{
  padding: 8px 45px;
  animation: pop 0.4s ease;

 }

 @keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


.pop{
  animation: pop 0.4s cubic-bezier(.38,-0.18,.08,1.33);

 }

 @keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

summary::marker,
summary::-webkit-details-marker {
  color: orangered;
  font-size: 2rem;
  display: none;
} 

summary::after {
  content: "+";
  color: black;
  font-size: 3rem;
  transition: transform 200ms ease;
} 

details[open] summary::after {
  transform: rotate(45deg);
  text-decoration: none;
} 

.page-intro{
  padding-left: var(--space-m);
}